{% extends "base.html" %}

{% block title %}Sales Records - Our Bookstore{% endblock %}

{% block content %}
<div class="container py-5">

    <h1> Search for sales records </h1>
    <hr>

    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <button type="submit" >search</button>
    </form> 

    <br>

    {% if sales_df %}
        {{sales_df|safe}} 
        <br>
        {% if chart %}
            <img src="data:image/png;base64,{{ chart|safe }}" alt="Chart">
        {% endif %}
    {% else %}
        <h3> No data available</h3>
    {% endif %}

</div>
{% endblock %}