body { font-family: 'Lato', sans-serif; background-color: #f8f9fa; min-height: 100vh; display: flex; flex-direction: column; }
.navbar-brand { font-family: 'Playfair Display', serif; font-weight: 900; }
footer { margin-top: auto; }